<!DOCTYPE html>
<html>
    <head>
<title>Example App</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/estilos.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>